<h1>Plans</h1>

  <div class="boxplan">

    <h3><%=simple_format @plan.title %></h3>


    <% @plan_tags.each do |plan_tag| %>
    
    	<div class="boxtext">
    	    <div class="boxtitle"><%= simple_format plan_tag.title %></div>
      	    <p><%= simple_format plan_tag.body %>
              
      			</p>
          <div class="boxtitle2">URL
              <a href=" #{plan_tag.url} " target="_blank"></a>
              <%= link_to plan_tag.url, plan_tag.url%>
          </div>
    	</div>
    	
    <% end %>
    
  </div>