<div class="main">
    <h2>見出し</h2>
    <p>これは<span class="light">例</span>です。</p>
    <p>
    <a href="https://www.yahoo.co.jp/">ホームへ</a>
    戻ります。</p>
  </div>


	<div class="boxtext">
	    <div class="boxtitle">広島大学</div>
  	    <p>	説明文
          <img src="" alt="" width="" height="">
  			</p>
      <div class="boxtitle2">URL
          <a href="https://www.yahoo.co.jp/" target="_blank">アンカーテキスト</a>
      </div>
	</div>


  <div id="husen">
  <h1>付箋</h1>
  <p>段落</p>