<h1>Select Tags To Add Into <%= @plan.title %></h1>
<p>---------------</p>

<ul>
    <% @tags.each do |tag| %>
        <%= simple_format tag.title %>
        
        <%= link_to '[add]',
 
                            controller: "plans",
                            action: "add_tag",
                            tag_id: "#{tag.id}",
                            tag_title: "#{tag.title}",
                            tag_body: "#{tag.body}",
                            tag_url: "#{tag.url}"%>
        
        <a href = " #{tag.id " Target="_blank" ></a>
        
        
        
        <%= link_to tag.url, tag.url%>
    <% end %>
</ul>