<h1>Plans</h1>

<%= button_to "Create", new_plan_path, :method => :get %>


<% @plan.each do |plan| %>
    <ul>
        <%#=simple_format plan.title %>
    <%= link_to plan.title, plan_path(plan.id) %>
    </ul>

<% end %>